*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.Search{
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('https://ipt.imgix.net/202004/x/0/lofoten-216.jpg');
  background-size: cover;

}
