*{
    font-family: 'poppins',sans-serif;
}
.Display_Main{
    height:90%;
    width:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: pink; */

}
.Part_One{
    /* background: cyan; */
    height:100%;
    width:100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    margin-top: -15vh;
    /* background: pink; */
    margin-left: -1.5vw;
    /* margin-right: 2vw; */
}
.Top_text{
    height:100%;
    width:100%;
    display: flex;
    align-items: baseline;
    justify-content:flex-start;
    margin-left: 2vw;
    margin-top: 0vh;
    flex-direction: column;
}
.Top_text h1{
    font-size: 4em;
    font-weight: 400;
}
.Top_text .Country{
    font-size: 2em;
    margin-top: -2vh;

}
.Bottom_text{
    height:100%;
    width:100%;
    display: flex;
    align-items:baseline;
    justify-content:end;
    margin-left: 2vw;
    margin-bottom:5vh;
    flex-direction: column;
    /* background-color: pink; */
    /* margin-top: -50vh; */
}
.Bottom_text .Bottom_H_T{
    position: relative;
    height:100%;
    width:100%;
    top:-2vh;
    /* text-overflow: clip; */
    /* background: pink; */
}
.Bottom_text .Bottom_H_T h2{
  font-size: 4em;
  margin-top: -10vh;
}
.Bottom_text h2{
    margin-top: -10vh;
}
.Bottom_text .Box{
    position: absolute;
    height:33vh;
    width:35vw;;
    background: rgba(255, 255, 255,0.5);
    border-radius: 25px;
    top:50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: -50vh; */
}
.Box .Humidity, .Box .Wind{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* background: pink; */
}
.Humidity img{
    width: 7vw;
    margin-top: -4.8vw;
}
.Humidity hr{
    border:3px solid black;
    border-radius: 5px;
    width: 10vw;
    background: black;
    margin-top: 0.8vw;
}
.Humidity h2{
    /* margin-top: 5vw; */
    position: absolute;
    bottom:5vh;
}
.Wind img{
    width: 7vw;
    margin-top: -4.8vw;

}
.Wind hr{
    border:3px solid black;
    border-radius: 5px;
    width: 10vw;
    background: black;
    margin-top: 0.8vw;
}
.Wind h2{
    /* margin-top: 5vw; */
    position: absolute;
    bottom:5vh;
}
.Part_Two{
    /* background: yellow; */
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: -2vw;
}
.Top_temp{
    height:100%;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:stretch;
    margin-top: -15vh;
    flex-direction: column;
    /* background: blueviolet; */
    text-align: center;
}
.Top_temp h1:hover, .Top_temp h2:hover{
    transition: 0.5s ease;
    color:white;
    cursor: pointer;
}
.Top_temp h1{
    font-size: 10em;
}
.Top_temp h2{
    margin-top: -5vh;
    font-size:5em;
}
.Cards{
    height:100%;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row !important;
    cursor: pointer;
    /* background: rgb(72, 245, 42); */
}

.Card_Sub{
    height:100%;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
    transition: 1s ease;
}
.Card_Sub_Sub{
    height:250px;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    margin: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    /* padding-top: 20px; */
}
.Card_Sub_Sub:hover{
    /* margin-top: -0.4vh; */
    /* box-shadow: 0px 0px 30px 2px rgba(255, 255, 255, 0.44); */
    /* transform: scale(1.1); */
    transition: 0.5s ease;
}
.Card_Sub_Sub:first-child{
    background: rgba(192, 243, 255, 0.5);
}
.Loading_Ani{
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: -10vh; */
    /* background: pink; */
    position: absolute;
    top:0vh;
}